<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- banner -->
      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
         <%=image_tag("banner10.jpg")%>
          <div class="banner-caption text-center">
            <h2 class="white-color">Furniture</h2>
          </div>
        </a>
      </div>
      <!-- /banner -->

      <!-- banner -->
      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
         <%=image_tag("banner11.jpg")%>
          <div class="banner-caption text-center">
            <h2 class="white-color">Hand Made</h2>
          </div>
        </a>
      </div>
      <!-- /banner -->

      <!-- banner -->
      <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
        <a class="banner banner-1" href="#">
          <%=image_tag("banner12.jpg")%>
          <div class="banner-caption text-center">
            <h2 class="white-color">Electronics</h2>
          </div>
        </a>
      </div>
      <!-- /banner -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section -->
