<section class="section-margin mt-0">
  <div class="owl-carousel owl-theme hero-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1674px, 0px, 0px); transition: all 0.25s ease 0s; width: 3769px;"><div class="owl-item cloned" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide1.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item cloned" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide2.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item cloned" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide3.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide1.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item active" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide2.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item active" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide3.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item cloned active" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide1.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item cloned" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide2.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div><div class="owl-item cloned" style="width: 408.667px; margin-right: 10px;"><div class="hero-carousel__slide">
      <img src="img/home/hero-slide3.png" alt="" class="img-fluid">
      <a href="#" class="hero-carousel__slideOverlay">
        <h3>Wireless Headphone</h3>
        <p>Accessories Item</p>
      </a>
    </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
  </section>
