<div class="promo-bar">
  <a href="#">
    <div class="inner">
      <ul class="usp-list">
        <li>
          <span class="fa-stack fa-2x ;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse" style="background-color: #2980b9";></i>
          </span>
          <span class="safe-secure-shopping">Safe, secure shopping</span>
        </li>
        <li>
          <span class="fa-stack fa-2x ;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-tags fa-stack-1x fa-inverse" style="background-color: #2980b9";></i>
          </span>
          <span class=" everyday-low-prices">Everyday low prices</span>
        </li>
        <li>
          <span class="fa-stack fa-2x ;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-truck fa-stack-1x fa-inverse" style="background-color: #2980b9";></i>
          </span>
          <span class=" fast-reliable-delivery">Fast, reliable delivery</span>
        </li>
        <li>

          <span class="fa-stack fa-2x ;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-undo fa-stack-1x fa-inverse" style="background-color: #2980b9";></i>
          </span>
          <span class=" hassle-free-returns">Hassle-free returns</span>
        </li>
        <li>
          <span class="fa-stack fa-2x ;">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-credit-card-alt fa-stack-1x fa-inverse" style="background-color: #2980b9";></i>
          </span>
          <span class="many-ways-to-pay">Many ways to pay</span>
        </li>
      </ul>
    </div>
  </a>
</div>
