<div class="container">
  <div class="row home_row">
    <div id="content" class="col-sm-12">
      <div id="servicecmsblock">
        <div id="servicecmsinfo_block1" class="container">
          <div class="box-content-cms">
            <div class="inner-cms">
              <div class="box-cms-content">
                <div class="first-content-one">
                  <div class="inner-content">
                    <div class="service-content">
                      <div class="icon-left1"></div>
                      <div class="service-right">
                        <div class="title">100% Satisfaction</div>
                        <div class="desc">If you are unable</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="second-content-two">
                  <div class="inner-content">
                    <div class="service-content">
                      <div class="icon-left2"></div>
                      <div class="service-right">
                        <div class="title">Save 20% when you</div>
                        <div class="desc">Use credit card</div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="third-content-three">
                  <div class="inner-content">
                    <div class="service-content">
                      <div class="icon-left3"></div>
                      <div class="service-right">
                        <div class="title">Fast Free Shipment</div>
                        <div class="desc">Load any computer's</div>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="Fourth-content-four">
                  <div class="inner-content">
                    <div class="service-content">
                      <div class="icon-left4"></div>
                      <div class="service-right">
                        <div class="title">14-Day Money back</div>
                        <div class="desc">If you are unable</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
